project_name = mem100k
path_on_disk_for_memes = C:\Users\szymon\Desktop\memestok\temp_folder
download_images = 1
download_jsons = 1
make_folders_for_meme_pages = 1
make_folders_for_meme_download_date = 1
tests_can_download_memes = 0